<h2>KOINEX</h2>

<div style="overflow-y:auto;  max-height: 500px !important;">
<table class="table-wrapper" >
  <!-- ADD HEADERS -->
  <thead>
    <tr> <th><strong>Coins</strong> </th> </tr>
    <tr> <th><strong>Price</strong></th> </tr>
  </thead>
  <tr>
        <th>ETH-INR </th>
        <th>BTC-INR</th>
        <th>LTC-INR</th>
        <th>XRP-INR</th>
        <th>BCH-INR</th>
        <th>OMG-INR</th>
        <th>REQ-INR</th>
        <th>ZRX-INR</th>
        <th>GNT-INR</th>
        <th>BAT-INR</th>
        <th>AE-INR</th>
        <th>TRX-INR</th>
        <th>XLM-INR</th>
        <th>NEO-INR</th>
        <th>GAS-INR</th>
  </tr>

  <!-- BIND ARRAY TO TABLE -->
  <tr>
    <td>{{varKoinex?.prices.inr.ETH}}</td>   
    <td>{{varKoinex?.prices.inr.BTC}}</td>
    <td>{{varKoinex?.prices.inr.LTC}}</td>
    <td>{{varKoinex?.prices.inr.XRP}}</td>
    <td>{{varKoinex?.prices.inr.BCH}}</td>
    <td>{{varKoinex?.prices.inr.OMG}}</td>
    <td>{{varKoinex?.prices.inr.REQ}}</td>
    <td>{{varKoinex?.prices.inr.ZRX}}</td>
    <td>{{varKoinex?.prices.inr.GNT}}</td>
    <td>{{varKoinex?.prices.inr.BAT}}</td>
    <td>{{varKoinex?.prices.inr.AE}}</td>
    <td>{{varKoinex?.prices.inr.TRX}}</td>
    <td>{{varKoinex?.prices.inr.XLM}}</td>
    <td>{{varKoinex?.prices.inr.NEO}}</td>
    <td>{{varKoinex?.prices.inr.GAS}}</td>
  </tr>
</table>
</div>
