<h2> ZEBPAY</h2>

<div style="overflow-y:auto;  max-height: 500px !important;">
  <table class="table-wrapper">
    <tr>
      <th> Coin </th>
      <th> Price</th>
      <th> Volume</th>
    </tr>


    <!--   ///////////////////////////////////////////////////////////////////////      -->

    <tr>
      <td style=" font-variant: small-caps ">{{varZebBTC?.pair}} </td>
      <td>{{varZebBTC?.buy}}</td>
      <td>{{varZebBTC?.volume}}</td>

    </tr>
    <tr> <td> {{errorMsg}}</td></tr>

    <tr>
      <td style=" font-variant: small-caps ">{{varZebETH?.pair}}</td>
      <td>{{varZebETH?.buy}}</td>
      <td>{{varZebETH?.volume}}</td>
  </tr>






  <!--   ///////////////////////////////////////////////////////////////////////      -->






  <tr>
      <td style=" font-variant: small-caps ">{{varZebXRP?.pair}}</td>
      <td>{{varZebXRP?.buy}}</td>
      <td>{{varZebXRP?.volume}}</td>
  </tr>


  <tr>
      <td style=" font-variant: small-caps ">{{varZebOMG?.pair}}</td>
      <td>{{varZebOMG?.buy}}</td>
      <td>{{varZebOMG?.volume}}</td>
  </tr>


  <tr>
      <td style=" font-variant: small-caps ">{{varZebTRX?.pair}}</td>
      <td>{{varZebTRX?.buy}}</td>
      <td>{{varZebTRX?.volume}}</td>
  </tr>


  <!--   ///////////////////////////////////////////////////////////////////////      -->

  <tr>
      <td style=" font-variant: small-caps ">{{varZebEOS?.pair}}</td>
      <td>{{varZebEOS?.buy}}</td>
      <td>{{varZebEOS?.volume}}</td>
  </tr>




  <tr>
      <td style=" font-variant: small-caps ">{{varZebGNT?.pair}}</td>
      <td>{{varZebGNT?.buy}}</td>
      <td>{{varZebGNT?.volume}}</td>
  </tr>



  <tr>
      <td style=" font-variant: small-caps ">{{varZebAE?.pair}}</td>
      <td>{{varZebAE?.buy}}</td>
      <td>{{varZebAE?.volume}}</td>
  </tr>



  <tr>
      <td style=" font-variant: small-caps ">{{varZebZRX?.pair}}</td>
      <td>{{varZebZRX?.buy}}</td>
      <td>{{varZebZRX?.volume}}</td>
  </tr>




  </table>

</div>